@import "styles/nodes.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column-left {
  position: absolute;
  top: 56px;
  right: 420px;
  bottom: 0px;
  left: 0px;
}

.canvas {
  min-width: 100px;
  height: 100vh;
  width: 100vw;
}

.column-right {
  position: absolute;
  right: 0px;
  width: 420px;
  padding: 10px;
}

.plots {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

.canvas-bottom-div {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: white;
  padding-left: 10px;
}
/* Small screens */
@media all and (max-width: 576px) {
  .column-left {
    right: 0px;
    bottom: 40vh;

  }

  .column-right {
    position: absolute;
    top: 60vh;
    min-width: 100%;
  }

  .canvas-bottom-div>input, .canvas-bottom-div>p {
    width: auto !important;
  }
}

.react-transform-wrapper {
  height: 100% !important;
  width: 100% !important;
  background-color: rgb(219, 219, 219);
}

button.btn {
  width: auto;
}

p.synapse-label {
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 1.1;
  cursor: pointer;
  margin-bottom: 0;
  padding: 4px 4px;
  max-width: 100px;
}

p.synapse-label.bundle {
  border: 1px dashed white;
}

p.synapse-label.bundle.selected {
  border: 2px dashed blue;
}

div.editMode>.input-group-text:first-child {
  background-color: white;
}