body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.node {
  background-color: #002D42;
  z-index: 1;
  cursor: pointer;

  /* positioning within neuron */
  display: flex;
  justify-content: center;
  align-items: center;
}

.network {
  min-width: 100px;
  height: 85vh;
  width: 100vw;
  position: relative;
}

.node-lif {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
}

.node-input {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  position: absolute;
}

.node-random {
  height: 60px;
  width: 32px;
  position:absolute;
}

.node-random::before, .node-random::after {
  content:"";
  position: absolute;
  height: 0;
  width: 0; 
  top:0;
  /* half height */
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
}
.node-random::before {
  left:-16px;
  border-right:16px solid #002D42; 
}

.node-random::after {
  right:-16px;
  border-left:16px solid #002D42; 
}

.node-name {
  padding: 0px 5px;
  color: white;
  position: absolute;
}

.node.selected {
  border: 2px solid white; 
}

.node.read-out {
  background-color: #7b0600;
}

.node-random.read-out::before, .node-random.read-out::after {
  border-left-color: #7b0600;
  border-right-color: #7b0600;
}


.node-prop-v, .node-prop-m {
  position: absolute;
  top: -10px;
  left: 50px;
  font-size: small;
}

.node-prop-thr {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: small;
}

.node-prop-spike {
  position: absolute;
  top: 2px;
  left: 54px;
  font-size: larger;
}

.node-random > .node-prop-spike {
  left: 38px;
}

.column-left {
  float: left;
}

.column-right {
  float: left;
  min-width: fit-content;
  width: 400px;
  padding: 10px;
}

.builder {
  display: flex;
  height: 85vh;
  width: 100vw;
}

.react-transform-wrapper {
  height: 100% !important;
  width: 100% !important;
  background-color: rgb(219, 219, 219);
}