@import "styles/nodes.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.canvas {
  min-width: 100px;
  height: 85vh;
  width: 100vw;
}

.column-left {
  position: relative;
  height: 85vh;
  min-width: 100px;
  width: 100%;
  margin-bottom: 50px;
}

.column-right {
  min-width: 420px;
  max-width: 420px;
  padding: 10px;
}

.content {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

.plots {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

/* Small screens */
@media all and (max-width: 576px) {
  .builder {
    flex-direction: column;
  }

  .column-left {
    height: 50vh;
  }

  .column-right {
    min-width: 100%;
  }
  
  .execution-slider>input, .execution-slider>p {
    width: auto;
  }
}

.react-transform-wrapper {
  height: 100% !important;
  width: 100% !important;
  background-color: rgb(219, 219, 219);
}

button.btn {
  width: auto;
}


