body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.network {
  width: 50%;
  height: 500px;
  background-color: rgb(160, 160, 160);
}

.node {
  background-color: #002D42;
  z-index: 1;
  cursor: pointer;
}

.network {
  border: 2px solid; 
  resize: both;
  overflow: auto;
}

.node-lif {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;

  /* positioning within neuron */
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-input {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  position: absolute;
  
  /* positioning within neuron */
  display: flex;
  justify-content: center;
  align-items: center;
}

.node-name {
  padding: 0px 5px;
  color: white;
  position: absolute;
}

.node.selected {
  border: 2px solid white; 
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.builder:after {
  content: "";
  display: table;
  clear: both;
}